<div class="container p-5">
  <div class="row">
    <div class="col-6 border border-light rounded p-5 shadow" *ngIf="formulario">
      <h6>{{ tituloFormulario }}</h6>
      <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
        <div class="form-group">
          <label for="idCertificadoA">ID do Certificado</label>
          <input type="number"
                 class="form-control form-control-sm"
                 id="idCertificadoA"
                 formControlName="idCertificadoA" />
        </div>

        <div class="form-group">
          <label for="tipoDeCliente">Tipo de Cliente</label>
          <input type="text"
                 class="form-control form-control-sm"
                 id="tipoDeCliente"
                 formControlName="tipoDeCliente" />
        </div>

        <div class="form-group">
          <label for="tipoDeDispositivo">Tipo de Dispositivo</label>
          <input type="text"
                 class="form-control form-control-sm"
                 id="tipoDeDispositivo"
                 formControlName="tipoDeDispositivo" />
        </div>

        <div class="form-group">
          <label for="fabricante">Fabricante</label>
          <input type="text"
                 class="form-control form-control-sm"
                 id="fabricante"
                 formControlName="fabricante" />
        </div>

        <div class="form-group">
          <label for="idFabricante">ID do Fabricante</label>
          <input type="number"
                 class="form-control form-control-sm"
                 id="idFabricante"
                 formControlName="idFabricante" />
        </div>

        <div class="form-group">
          <label for="tempoDeValidade">Tempo de Validade</label>
          <input type="text"
                 class="form-control form-control-sm"
                 id="tempoDeValidade"
                 formControlName="tempoDeValidade" />
        </div>

        <div class="form-group">
          <label for="tipoDeEmissao">Tipo de Emissão</label>
          <input type="text"
                 class="form-control form-control-sm"
                 id="tipoDeEmissao"
                 formControlName="tipoDeEmissao" />
        </div>

        <div class="form-group">
          <label for="valor">Valor</label>
          <input type="number"
                 class="form-control form-control-sm"
                 id="valor"
                 formControlName="valor" />
        </div>

        <div class="form-group">
          <label for="tipoCertificadoA1A3">Tipo de Certificado A1 ou A3</label>
          <input type="text"
                 class="form-control form-control-sm"
                 id="tipoCertificadoA1A3"
                 formControlName="tipoCertificadoA1A3" />
        </div>

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text"
                 class="form-control form-control-sm"
                 id="title"
                 formControlName="title" />
        </div>

        <div class="row">
          <div class="col-6">
            <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
          </div>
          <div class="col-6 text-right">
            <button type="button" class="btn btn-sm btn-light">Voltar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
